iot_flow.json
[{"id":"7da3eaa4311bac73","type":"tab","label":"Final Code","disabled":false,"info":"","env":[]},{"id":"f6d4e3018c8c01cf","type":"mqtt in","z":"7da3eaa4311bac73","name":"mqtt in","topic":"#","qos":"2","datatype":"auto-detect","broker":"bb7a191.cab93e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":320,"wires":[["a0a9084a2db536c3"]]},{"id":"a0a9084a2db536c3","type":"switch","z":"7da3eaa4311bac73","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"concentration","vt":"str"},{"t":"cont","v":"relative-humidity","vt":"str"},{"t":"cont","v":"node/co2-monitor:0/barometer/0:0/pressure","vt":"str"},{"t":"cont","v":"temperature","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":470,"y":320,"wires":[["3334cd8971df592a"],["dcf5fbf47515cbb1"],["eb9bf04fe4851a08"],["7c240c033fb0d992"]]},{"id":"3334cd8971df592a","type":"link out","z":"7da3eaa4311bac73","name":"CO2_TO_DOWNSAMPLING","mode":"link","links":["fc99c1586995d010"],"x":570,"y":260,"wires":[]},{"id":"dcf5fbf47515cbb1","type":"link out","z":"7da3eaa4311bac73","name":"HUM_TO_DOWNSAMPLING","mode":"link","links":["646c96e9738bbc1c"],"x":570,"y":300,"wires":[]},{"id":"eb9bf04fe4851a08","type":"link out","z":"7da3eaa4311bac73","name":"PRES_TO_DOWNSAMPLING","mode":"link","links":["2e147ef1eb261593"],"x":570,"y":340,"wires":[]},{"id":"7c240c033fb0d992","type":"link out","z":"7da3eaa4311bac73","name":"TEMP_TO_DOWNSAMPLING","mode":"link","links":["421f67b3dbe2cf43"],"x":570,"y":380,"wires":[]},{"id":"fc99c1586995d010","type":"link in","z":"7da3eaa4311bac73","name":"CO2 Vstup z Routeru","links":["3334cd8971df592a"],"x":650,"y":260,"wires":[["ba08ca11cdfe0d1b"]]},{"id":"ba08ca11cdfe0d1b","type":"join","z":"7da3eaa4311bac73","name":"CO2 Downsampling 5 min","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":180,"wires":[["fa6f5ad2c9b353c6"]]},{"id":"646c96e9738bbc1c","type":"link in","z":"7da3eaa4311bac73","name":"CO2 Vstup z Routeru","links":["dcf5fbf47515cbb1"],"x":650,"y":300,"wires":[["b3bcf75ad759e7e6"]]},{"id":"21f7637077f28ba7","type":"sqlite","z":"7da3eaa4311bac73","mydb":"dbaca1499370fd4d","sqlquery":"msg.topic","sql":"","name":"Send to sql database monitor_data.db","x":1490,"y":260,"wires":[[]]},{"id":"b3bcf75ad759e7e6","type":"join","z":"7da3eaa4311bac73","name":"Humidity Downsampling 5 min","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":280,"wires":[["052f8cc4824b0339"]]},{"id":"2f09087442c03ee7","type":"function","z":"7da3eaa4311bac73","name":"Function node for temperature","func":"const SECRET_KEY = 'V4WCEQUl4HXmMmp6DEZzbSqzECA0yhVK';\nconst IV = 'qlMgVWDoTmkzVby8';\n\nlet values = msg.payload;\nlet sum = 0;\nlet count = 0;\n\nfor (let i = 0; i < values.length; i++) {\n    if (typeof values[i] === 'number' && !isNaN(values[i])) {\n        sum += values[i];\n        count++;\n    }\n}\n\nif (count > 0) {\n    let averageValue = (sum / count).toFixed(2); \n    let currentTimestamp = new Date().toLocaleString('sv-SE');\n    let deviceId = \"co2-monitor:0\";\n    // ------------------------------------------------------------------\n    // 1. PŘÍPRAVA PRO LOKÁLNÍ DATABÁZI (VÝSTUP 1)\n    // ------------------------------------------------------------------\n    const msgDb = {};\n\n    msgDb.topic = \"INSERT INTO temperature_measurements (timestamp, device_id, temperature) VALUES ('\" +\n        currentTimestamp + \"', '\" +\n        deviceId + \"', \" +\n        averageValue + \")\";\n\n    msgDb.payload = [];\n\n    // ------------------------------------------------------------------\n    // 2. PŘÍPRAVA PRO CLOUD/API (VÝSTUP 2)\n    // ------------------------------------------------------------------\n    const msgCloud = {};\n\n    const dataToSend = {\n        \"temperature\": averageValue,\n        \"timestamp\": currentTimestamp,\n        \"device_id\": deviceId\n    };\n\n    const dataString = JSON.stringify(dataToSend);\n\n    // --- Proces ŠIFROVÁNÍ ---\n    const cipher = crypto.createCipheriv('aes-256-cbc', SECRET_KEY, IV);\n    let encrypted = cipher.update(dataString, 'utf8', 'hex'); \n    encrypted += cipher.final('hex');\n\n    msgCloud.payload = {\n        \"encrypted_data\": encrypted\n    };\n\n    return [msgDb, msgCloud];\n}\n\nreturn null;","outputs":2,"noerr":2,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":1170,"y":560,"wires":[["85a1fda521534d39"],["8eb2d7461f219887"]]},{"id":"2e147ef1eb261593","type":"link in","z":"7da3eaa4311bac73","name":"CO2 Vstup z Routeru","links":["eb9bf04fe4851a08"],"x":650,"y":340,"wires":[["48802fc4c8a57cf4"]]},{"id":"48802fc4c8a57cf4","type":"join","z":"7da3eaa4311bac73","name":"Pressure Downsampling 5 min","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":420,"wires":[["528c1236681d2692"]]},{"id":"052f8cc4824b0339","type":"function","z":"7da3eaa4311bac73","name":"Function node for humidity","func":"const SECRET_KEY = 'V4WCEQUl4HXmMmp6DEZzbSqzECA0yhVK'; \nconst IV = 'qlMgVWDoTmkzVby8';\n\nlet values = msg.payload;\nlet sum = 0;\nlet count = 0;\n\nfor (let i = 0; i < values.length; i++) {\n    if (typeof values[i] === 'number' && !isNaN(values[i])) {\n        sum += values[i];\n        count++;\n    }\n}\n\nif (count > 0) {\n    let averageValue = (sum / count).toFixed(2);\n\n    let currentTimestamp = new Date().toLocaleString('sv-SE');\n    let deviceId = \"co2-monitor:0\";\n\n    // ------------------------------------------------------------------\n    // 1. PŘÍPRAVA PRO LOKÁLNÍ DATABÁZI (VÝSTUP 1)\n    // ------------------------------------------------------------------\n    const msgDb = {};\n\n    msgDb.topic = \"INSERT INTO humidity_measurements (timestamp, device_id, humidity_rh) VALUES ('\" +\n        currentTimestamp + \"', '\" +\n        deviceId + \"', \" +\n        averageValue + \")\";\n\n    msgDb.payload = [];\n\n    // ------------------------------------------------------------------\n    // 2. PŘÍPRAVA PRO CLOUD/API (VÝSTUP 2)\n    // ------------------------------------------------------------------\n    const msgCloud = {};\n\n    const dataToSend = {\n        \"humidity\": averageValue,\n        \"timestamp\": currentTimestamp, \n        \"device_id\": deviceId\n    };\n\n    const dataString = JSON.stringify(dataToSend);\n\n    // --- Proces ŠIFROVÁNÍ ---\n    const cipher = crypto.createCipheriv('aes-256-cbc', SECRET_KEY, IV);\n    let encrypted = cipher.update(dataString, 'utf8', 'hex');\n    encrypted += cipher.final('hex');\n\n    msgCloud.payload = {\n        \"encrypted_data\": encrypted\n    };\n    return [msgDb, msgCloud];\n}\n\nreturn null;","outputs":2,"noerr":2,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":1160,"y":280,"wires":[["21f7637077f28ba7"],["562c8ee982452569"]]},{"id":"421f67b3dbe2cf43","type":"link in","z":"7da3eaa4311bac73","name":"CO2 Vstup z Routeru","links":["7c240c033fb0d992"],"x":650,"y":380,"wires":[["f4793f239af69643"]]},{"id":"f4793f239af69643","type":"join","z":"7da3eaa4311bac73","name":"Temperature Downsampling 5 min","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":880,"y":560,"wires":[["2f09087442c03ee7"]]},{"id":"528c1236681d2692","type":"function","z":"7da3eaa4311bac73","name":"Function node for pressure","func":"const SECRET_KEY = 'V4WCEQUl4HXmMmp6DEZzbSqzECA0yhVK';\nconst IV = 'qlMgVWDoTmkzVby8';\n\nlet values = msg.payload;\nlet sum = 0;\nlet count = 0;\n\nfor (let i = 0; i < values.length; i++) {\n    if (typeof values[i] === 'number' && !isNaN(values[i])) {\n        sum += values[i];\n        count++;\n    }\n}\n\nif (count > 0) {\n    // PŘEVOD: Hardwario dává Pascaly, chceme Hektopascaly (děleno 100)\n    // A odstraníme uvozovky pomocí parseFloat\n    let averageValue = parseFloat(((sum / count) / 100).toFixed(2));\n\n    let currentTimestamp = new Date().toLocaleString('sv-SE');\n    let deviceId = \"co2-monitor:0\";\n\n    const msgDb = {};\n    msgDb.topic = \"INSERT INTO pressure_measurements (timestamp, device_id, pressure) VALUES ('\" +\n        currentTimestamp + \"', '\" + deviceId + \"', \" + averageValue + \")\";\n    msgDb.payload = [];\n\n    const msgCloud = {};\n    const dataToSend = {\n        \"pressure\": averageValue, // Teď je to číslo, ne string\n        \"timestamp\": currentTimestamp,\n        \"device_id\": deviceId\n    };\n\n    const dataString = JSON.stringify(dataToSend);\n    const cipher = crypto.createCipheriv('aes-256-cbc', SECRET_KEY, IV);\n    let encrypted = cipher.update(dataString, 'utf8', 'hex');\n    encrypted += cipher.final('hex');\n\n    msgCloud.payload = {\n        \"encrypted_data\": encrypted\n    };\n\n    return [msgDb, msgCloud];\n}\nreturn null;","outputs":2,"noerr":2,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":1160,"y":420,"wires":[["6f227c797c211746"],["766e95f8e3368466"]]},{"id":"19cd3ae5671a8027","type":"sqlite","z":"7da3eaa4311bac73","mydb":"dbaca1499370fd4d","sqlquery":"msg.topic","sql":"","name":"Send to sql database monitor_data.db","x":1490,"y":160,"wires":[[]]},{"id":"6f227c797c211746","type":"sqlite","z":"7da3eaa4311bac73","mydb":"dbaca1499370fd4d","sqlquery":"msg.topic","sql":"","name":"Send to sql database monitor_data.db","x":1490,"y":400,"wires":[[]]},{"id":"85a1fda521534d39","type":"sqlite","z":"7da3eaa4311bac73","mydb":"dbaca1499370fd4d","sqlquery":"msg.topic","sql":"","name":"Send to sql database monitor_data.db","x":1490,"y":540,"wires":[[]]},{"id":"0ca9eb6977dafa56","type":"http request","z":"7da3eaa4311bac73","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://project-smart-air-sense.onrender.com/api/iot/ingest?token=iot_7FJ39sKQpX82mZ4NwL9dA","tls":"db276f5a961d0257","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"credentials":{},"x":1490,"y":200,"wires":[[]]},{"id":"562c8ee982452569","type":"http request","z":"7da3eaa4311bac73","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://project-smart-air-sense.onrender.com/api/iot/ingest?token=iot_7FJ39sKQpX82mZ4NwL9dA","tls":"db276f5a961d0257","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1490,"y":300,"wires":[[]]},{"id":"766e95f8e3368466","type":"http request","z":"7da3eaa4311bac73","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://project-smart-air-sense.onrender.com/api/iot/ingest?token=iot_7FJ39sKQpX82mZ4NwL9dA","tls":"db276f5a961d0257","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"credentials":{},"x":1490,"y":440,"wires":[[]]},{"id":"8eb2d7461f219887","type":"http request","z":"7da3eaa4311bac73","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://project-smart-air-sense.onrender.com/api/iot/ingest?token=iot_7FJ39sKQpX82mZ4NwL9dA","tls":"db276f5a961d0257","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1490,"y":580,"wires":[[]]},{"id":"fa6f5ad2c9b353c6","type":"function","z":"7da3eaa4311bac73","name":"Function node for CO2","func":"const SECRET_KEY = 'V4WCEQUl4HXmMmp6DEZzbSqzECA0yhVK';\nconst IV = 'qlMgVWDoTmkzVby8'; \n\nlet values = msg.payload;\nlet sum = 0;\nlet count = 0;\n\nfor (let i = 0; i < values.length; i++) {\n    if (typeof values[i] === 'number' && !isNaN(values[i])) {\n        sum += values[i];\n        count++;\n    }\n}\n\nif (count > 0) {\n    let averageValue = Math.round(sum / count);\n\n    let currentTimestamp = new Date().toLocaleString('sv-SE');\n    let deviceId = \"co2-monitor:0\";\n\n    // ------------------------------------------------------------------\n    // 1. PŘÍPRAVA PRO LOKÁLNÍ DATABÁZI (VÝSTUP 1)\n    // ------------------------------------------------------------------\n    const msgDb = {};\n\n    msgDb.topic = \"INSERT INTO co2_measurements (timestamp, device_id, co2_ppm) VALUES ('\" +\n        currentTimestamp + \"', '\" +\n        deviceId + \"', \" +\n        averageValue + \")\";\n\n    msgDb.payload = [];\n\n    // ------------------------------------------------------------------\n    // 2. PŘÍPRAVA PRO CLOUD (VÝSTUP 2)\n    // ------------------------------------------------------------------\n    const msgCloud = {};\n\n    const dataToSend = {\n        \"co2\": averageValue,\n        \"timestamp\": currentTimestamp, \n        \"device_id\": deviceId\n    };\n    \n    const dataString = JSON.stringify(dataToSend);\n\n    // --- Proces ŠIFROVÁNÍ ---\n    const cipher = crypto.createCipheriv('aes-256-cbc', SECRET_KEY, IV);\n    let encrypted = cipher.update(dataString, 'utf8', 'hex'); \n    encrypted += cipher.final('hex');\n\n    msgCloud.payload = {\n        \"encrypted_data\": encrypted\n    };\n\n    return [msgDb, msgCloud];\n}\n\nreturn null;","outputs":2,"noerr":2,"initialize":"","finalize":"","libs":[{"var":"crypto","module":"crypto"}],"x":1140,"y":180,"wires":[["19cd3ae5671a8027"],["0ca9eb6977dafa56"]]},{"id":"bb7a191.cab93e8","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"dbaca1499370fd4d","type":"sqlitedb","db":"C:\\Users\\jana\\Documents\\monitor_data.db","mode":"RWC"},{"id":"db276f5a961d0257","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":"","credentials":{}}]
